/* ========== common(question) ========== */

.menu-mv .title-deco {
  width: 32rem;
  top: -3rem;
}

.reservation {
  margin-top: 16rem;
}
@media (max-width: 768px) {
  .menu-mv .title-deco {
    width: 20rem;
  }
}

/* ========== menu-mv(question) ========== */

/* 下層の中でも質問とブログのみ共通 */

.page-faq .menu-mv {
  width: 100vw;
  height: 65dvh;
  padding-top: 4rem;
  background-color: var(--primary-pink-beige);
  position: relative;
}

.menu-mv__subtitle {
  text-align: center;
  color: var(--primary-red);
  font-size: clamp(1.4rem, 2vw, 2rem);
  font-weight: 500;
  line-height: 1.9;
  margin-top: 2rem;
}
.page-faq .wave {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
@media (max-width: 768px) {
  .page-faq .menu-mv {
    padding-top: 1rem;
    height: 50dvh;
  }
  .menu-mv__subtitle {
    line-height: 1.5;
  }
}

/* ========== faq ========== */

.faq {
  margin-top: 12rem;
}

details {
  max-width: 1200px;
  margin: 3rem auto 0;
  padding: 2rem 4rem;
  border-radius: 2rem;
  background: var(--primary-pink-beige);
  font-size: clamp(1.4rem, 4vw, 1.8rem);
}

/* summary（Q部分） */
summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: clamp(1.6rem, 4vw, 2rem);
  color: var(--primary-red);
  list-style: none;
  gap: 1rem;
}

.faq-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.faq-answer {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding-top: 1rem;
}
.faq-list li {
  position: relative;
  padding-left: 2rem;
}

.faq-list li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
}

summary::-webkit-details-marker {
  display: none;
}

.faq-mark {
  font-family: var(--font-heading);
  font-size: 2.4rem;
  line-height: 1.3; /*高さ微調整*/
}

/* プラスアイコン */
.faq-icon {
  position: relative;
  width: 1em;
  height: 1em;
}

/* プラス（縦 + 横） */
.faq-icon::before,
.faq-icon::after {
  content: "";
  position: absolute;
  background: var(--primary-red);
  border-radius: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 縦線（回転用） */
.faq-icon::before {
  width: 3px;
  height: 14px;
  transition: 0.3s;
}

/* 横線 */
.faq-icon::after {
  width: 14px;
  height: 3px;
}

/* 開くと縦線を回転→マイナスに */
details[open] .faq-icon::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

@media (max-width: 768px) {
  .faq {
  margin-top: 6rem;
}
details {
  margin: 3rem auto 0;
  padding: 1.5rem 2rem;
  border-radius: 1.8rem;
}
}
